<h1>Song Info</h1>

<form action="/" method="post">
	<input type="text" name="artist" required />
	<input type="text" name="song" required />
	<button>Submit</button>
</form>

<% if (locals.artist) { %>
	<p><%= artist %></p>
	<p><%= song %></p>
<% } else { %>
	<p>Input artist and song!</p>
<% } %>
